.container{
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
}

h1{
    font-family: 'VT323', san-serif;
    font-weight: 400;
    font-size: 6em;
    text-align: center;
    color: #fff;
}

.headline{
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  font-size: 3em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

form{
  margin: 0 auto;
  width:  50%;
}

input[type=text]{
  float: left;
  width: 60%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 2px;
  color: white;
  padding-left: 15px;
}

input[type=submit] {
    padding:5px 15px;
    width: 30%;
    height: 82px;
    background:#fff;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    float: right;
}
textarea{
  padding-left: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

iframe{
  width: 100%;
  height: 100%;
  display: none;
}
